
 

@media screen and (min-width: 992px) {
    .mobile-menu {
        display: none;
    } 
     
}


/* max width */

@media screen and (max-width: 1449px) {
  
}

@media screen and (max-width: 1399px) {
    .info_para {
        bottom: 17px;
        left: 28px;
    }
}

@media screen and (max-width:1339px) {
    .analysis_image img {
        width: 100%;
    }
   
    
}

@media screen and (max-width:1199px) {
    .casi_duegi_responsive_img img {
        width: 100%;
    }
    .casi_duegi_content {
        padding: 70px;
    }
    .review_body p {
        padding-right: 0;
    }
    .common_btn a {
        padding: 10px 25px;
    }
    .hero_inner {
        background-size: auto;
    }
    .single_service {
        background-size: contain;
    }
    .info_para p {
        font-size: 28px;
        line-height: 34px;
    }
    .info_right_para p {
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
    }
    .info_right_para  {
        top: 52px;
    }
    .servcice_item_body p, .review_body p {
        font-size: 17px;
    }
    .common_btn a {
        font-size: 18px;
    }
    .customer_title h2 { 
        margin-left: 102px;
    }
    .client_logo_list ul {
        flex-wrap: wrap;
    }
    .client_logo_list ul li {
        margin-bottom: 15px;
    }
    .service_footer_left span {
        font-size: 18px;
    }
    .service_footer_right a ,
    .con_item_left_list ul li span, 
    .con_item_right_list ul li span ,
    .accordion {
        font-size: 17px;
    }
    
}

@media screen and (max-width:1023px) {
    
}
 
@media screen and (max-width:991px) {
    .responsive_reverse {
        flex-direction: column-reverse;
    }
    .ser_img.casi_img img {
        width: 100%;
    }
    .new_customer_section  {
        margin-bottom: 100px;
    }
    .reduce_production {
        padding: 100px 0px;
    }
    .website_service_info {
        margin: 80px 0px 100px;
    }
    .timeless_section {
        position: relative;
        padding: 100px 0px 50px;
        overflow: hidden;
    }
    .accordion_title h2 {
        font-size: 24px;
    }
    .website_service_info_image.timeless_content {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .con_item_right_list ul {
        margin: 0;
        padding: 0;
    }
    .con_item_list {
        flex-wrap: wrap;
    }
    .website_service_info_image {
        margin-top: 50px;
    }
    .accordion:after {
        font-size: 20px;
    }
    button.accordion.active {
        margin-bottom: 20px;
    }
    .accordion {
        font-size: 17px;
    }
    .accordion_item { 
        padding: 13px 36px 12px;
    }
    .mobile-menu {
        display: block;
    } 
    .menu_inner {
        display: none;
    }
    .hero_content  {
        padding-top: 90px;
    }
    .hero_inner {
        background-size: contain;
    }
    .info_right_content img, .info_left_content img {
        width: auto;
        height: auto;
    }
    .info_left_content, .customer_title {
        margin-bottom: 30px;
    }
    .analysis_title h2 {
        margin-bottom: 0;
    }
    .review_body h2 {
        font-size: 20px;
    }
    .review_body h6 {
        font-size: 18px;
    }
    .footer_menu {
        margin-top: 40px;
    }

    .info_right_para {
        right: 55px;
    }
    .customer_title h2 {
        margin-left: 0;
    }
}

@media screen and (max-width:880px) {
     
}
@media screen and (max-width:767px) {
    .info_right_content img {
        width: 100%;
    }
    .info_right_para {
        right: 29px;
        top: 28px;
    }
    .footer_top_content h2 {
        font-size: 30px;
    }
    .footer_top_content h6 {
        font-size: 18px;
    }
    .footer_bottom_content h3 {
        font-size: 22px;
    }
    .footer_menu {
        flex-wrap: wrap;
    }
    .menu_list {
        margin-bottom: 30px;
    }
    .analysis_section {
        margin: 108px 0px 153px;
    }
    .footer_fm .input input {
        width: 100%;
    }
    .analysis_title h2 {
        font-size: 24px;
    }
    .customer_title:before {
        left: 0;
    }
    .customer_title_content p {
        font-size: 16px; 
    }
    .customer_title_content h2 {
        font-size: 25px; 
    }
}

@media screen and (max-width:575px) {
    .casi_content_top h2 {
        font-size: 28px;
    }
    .hero_content_box h3 {
        font-size: 26px;
    }
    .hero_content_box {
        padding: 22px;
    }
    .author_title {
        flex-wrap: wrap;
    }
    .check_icon_box i {
        font-size: 43px; 
        padding: 18px;
    }
    .check_icon_box {
        width: 80px;
        height: 80px; 
    }
    .casi_duegi_content h2 {
        font-size: 20px;
    }
    .casi_duegi_content p {
        font-size: 16px;
    }
    .casi_duegi_content {
        padding: 20px;
    }
    .con_item_left_list {
        padding-right: 0px;
    }
    .common_btn a {
        font-size: 14px;
    }
    .hero_content_list ul li {
        font-size: 23px;
        line-height: 27px;
    }
    .con_title p {
        font-size: 19px;
        font-weight: 400;
        line-height: 23px;
        margin-top: 13px;
    }
    .website_service_info_content h2, .con_title h2, .service_title h2 {
        font-size: 22px;
    }
    .service_footer_inner {
        padding: 20px;
    }
    .service_footer_left span {
        padding-left: 0;
        padding-top: 20px;
    }
    .service_footer_inner,
    .service_footer_left {
        flex-wrap: wrap;
    }
    .service_footer_left  {
        padding-bottom: 20px;
    }
    .footer_fm {
        flex-wrap: wrap;
    }
    .input {
        margin-bottom: 20px;
    }
    .reduce_image { 
        width: 100%; 
        background-size: contain;
        padding: 0px 30px;
    }
    .reduce_image_content {
        width: auto;
    }
    .reduce_image_content  h2 {
        font-size: 50px;
    }
    .reduce_image_content p,
    .hero_content_box p,
    .casi_content_top p {
        font-size: 16px;
    }
    .con_btn a {
        padding: 10px 12px;   
        font-size: 12px; 
    }
    span.s_btn {
        padding: 11px 25px 9px 44px;
        right: -88px;
        z-index: -1;
        position: absolute;
        font-size: 12px;
    }
    .website_service_info_image img {
        width: 100%;
    }
    .hero_content_list ul li {
        font-size: 24px;
    }
    .hero_content p,
    .website_service_info_content p{
        font-size: 16px;
    }
    .info_right_para p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
    .info_right_para {
        right: 12px;
        top: 19px;
    }
    .customer_title:before {
        display: none;
    }
    .review_title h2 {
        font-size: 20px;
    }
    .footer_top_content h2 {
        font-size: 24px;
    }
    .info_right_content img, .info_left_content img {
        width: 100%;
        height: auto;
    }
    .info_para p {
        font-size: 23px;
        line-height: 27px;
    }
    .menu_section {
        padding: 60px 0px 0px;
    }
    .mobile_img {
        margin-top: 10px;
    }
    .customer_title h2 {
        font-size: 26px;
    }
    .menu_list ul {
        flex-wrap: wrap;
    }
    .client_logo_list ul {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .analysis_title h2 {
        font-size: 18px;
    }
    .faq_section {
        margin: 100px 0px;
    }
    .accordion_item {
        padding: 13px 15px 12px;
    }
    
    
}


@media screen and (max-width:375px) {
    
}

@media screen and (max-width:320px) {
    .info_right_para p {
        font-size: 11px;
        font-weight: 400;
        line-height: 15px;
    }
    .info_right_para {
        right: 12px;
        top: 14px;
    }
    
}